.title {
	font-family: 'Poppins', sans-serif;
	color: #333;
	font-size: 35px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 300;
	margin-top: 5%;
}

.title:after {
	content: "";
    display: block;
    background-color: #F7941D;
    height: 2px;
    width: 60px;
    margin-top: 5%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}