.blog {
	position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 7%;
}

.blog-title {
	font-size: 30px;
    text-transform: capitalize;
    color: #2c2d3f;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.blog-title::after {
	position: absolute;
	display: block;
	content: "";
	height: 2px;
    width: 50px;
    background: #F7941D;
    margin-top: 4%;
    left: 50%;
    transform: translateX(-50%);
}

.blog-list {
	position: absolute;
	width: 1170px;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 6%;
	justify-content: space-around;
}

.blog-list-item {
	height: 410px;
	transition: 0.3s;
}

.blog-list-item:hover {
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);
}

.blog-list-item-img-text {
	position: absolute;
    margin-left: 7%;
    text-align: center;
}

.blog-list-item-text-time {
	font-size: 14px;
    font-weight: 400;
    color: #B7B7B7;
}

.blog-list-item-text-title {
	font-size: 17px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.blog-list-item-text-title:hover {
	color: #f79630;
}