<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EcommerceV2</display-name>
  <welcome-file-list>
  	<welcome-file>home</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>All</filter-name>
  	<filter-class>filter.All</filter-class>
  </filter>
  
  <filter>
  	<filter-name>LoginAndSignUp</filter-name>
  	<filter-class>filter.LoginAndSignUp</filter-class>
  </filter>
  
  <filter>
  	<filter-name>Authen</filter-name>
  	<filter-class>filter.Authen</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>All</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>LoginAndSignUp</filter-name>
  	<url-pattern>/login</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>LoginAndSignUp</filter-name>
  	<url-pattern>/signup</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>Authen</filter-name>
  	<url-pattern>/myaccount</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>Authen</filter-name>
  	<url-pattern>/changepassword</url-pattern>
  </filter-mapping>
</web-app>